# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science.
* Open source softwares for Data Science.
* List of tools use for Data Science.
* Labraries for Data Science.
* Data Set powering Data Science.

## Author
Shivam Vishwakarma

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|--------------------|
| Visual Studio Code |
| GitHub             |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hour = min/60
hour

3.3333333333333335